
body {
    padding: 0;
    margin: 0;
    display: block;
}


.content {
    position: relative;
    padding: 14px; 
    padding-left: 400px; 

    display:flex;
    flex-direction: column;
    
}




h1 {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight:400;
    font-style: normal;
    margin: 21px 21px 12px;
    color: rgb(0, 0, 0); 
}


address {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #79828B;
    margin: 12px 21px;
    font-style: normal;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.445);
    margin: 0 21px 12px;

}


button {
    display: block;
}

#publish {
    
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 15px;
    border: 2px solid #333; 
    border-radius: 16px;
    padding: 6px 12px;
    margin: 15px;
    font-weight: bolder;
    background-color: white;
   
       
}


#titleInput {

    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight:400;
    font-style: normal;
    margin: 21px 21px 12px;
    color: rgba(0, 0, 0, 0.575); 

    border-style: hidden;
    

}

#authorInput {

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #79828B;
    margin: 12px 21px;
    font-style: normal;

    border-style: hidden;
}

#contentInput {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 12px 21px;
    color: rgba(0, 0, 0, 0.445);

    border-style: hidden;

}


#postButton {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 15px;
    border: 2px solid #333; 
    border-radius: 16px;
    padding: 6px 12px;
    margin: 15px;
    font-weight: bolder;
    background-color: white;
    max-width: 10vw;
}


button {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 15px;
    border: 2px solid #333; 
    border-radius: 16px;
    padding: 6px 12px;
    margin: 15px;
    font-weight: bolder;
    background-color: white;
    max-width: 10vw;

}